TEAM10/flows (2).json
[{"id":"13fdf3de.b407ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c89aeb62.eeda88","type":"http request","z":"13fdf3de.b407ec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0e2a2453-3781-447c-98b1-78cb0847b814/deployments/8b45899b-ec9b-4f12-bdd8-962ddba2f606/online","tls":"","proxy":"","x":593.0000076293945,"y":120.00000286102295,"wires":[["4ebbf92e.6f8098","f005d370.96c17"]]},{"id":"10fe6033.22e42","type":"function","z":"13fdf3de.b407ec","name":"prediction","func":"var token=msg.payload.token;\nvar RDSpend=global.get(\"RDSpend\");\nvar Administration=global.get(\"Administration\");\nvar MarketingSpend=global.get(\"MarketingSpend\");\nvar State1=global.get(\"State1\");\nvar State2=global.get(\"State2\");\nmsg.payload={\"fields\":[\"RDSpend\",\"Administration\",\"MarketingSpend\",\"State\",\"State\"],\"values\":[[RDSpend,Administration,MarketingSpend,State1,State2]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":306.00000381469727,"wires":[["c89aeb62.eeda88","4ebbf92e.6f8098"]]},{"id":"4ebbf92e.6f8098","type":"debug","z":"13fdf3de.b407ec","name":"PROFIT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":180,"wires":[]},{"id":"83d66dbb.a3e0b","type":"http request","z":"13fdf3de.b407ec","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":490,"y":460,"wires":[["cec92796.717108","10fe6033.22e42"]]},{"id":"eb63ba4c.312cd8","type":"inject","z":"13fdf3de.b407ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129,"y":93.00000476837158,"wires":[["f5eceb33.07dfe8"]]},{"id":"f5eceb33.07dfe8","type":"function","z":"13fdf3de.b407ec","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"973275ed-ee32-4f1e-9edd-8ee728d7c049\"\nvar password=\"f8d06ed6-5b73-48f7-b21e-de59a9c3471c\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"RDSpend\",msg.payload.RDSpend)\nglobal.set(\"Administration\",msg.payload.Administration)\nglobal.set(\"MarketingSpend\",msg.payload.MarketingSpend)\n\nreturn msg;","outputs":1,"noerr":0,"x":164.00000762939453,"y":333.0000057220459,"wires":[["83d66dbb.a3e0b"]]},{"id":"f005d370.96c17","type":"function","z":"13fdf3de.b407ec","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":709.0000076293945,"y":276.00000381469727,"wires":[["a0cbdd3c.6da13","94519a31.548fb8","e34a6b9d.781c78"]]},{"id":"cec92796.717108","type":"debug","z":"13fdf3de.b407ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":480,"wires":[]},{"id":"a0cbdd3c.6da13","type":"ui_text","z":"13fdf3de.b407ec","group":"c17d7ed4.b8193","order":3,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":889.0000114440918,"y":72.00000762939453,"wires":[]},{"id":"d6d73d71.d50aa","type":"ui_form","z":"13fdf3de.b407ec","name":"","label":"","group":"c17d7ed4.b8193","order":2,"width":0,"height":0,"options":[{"label":"Enter R&D Spend","value":"RDSpend","type":"number","required":true},{"label":"Investment for Administration","value":"Administration","type":"number","required":true},{"label":"Marketing Spend","value":"MarketingSpend","type":"number","required":true}],"formValue":{"RDSpend":"","Administration":"","MarketingSpend":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":66,"y":564.0000820159912,"wires":[["eb58e73a.9d1fa8","f5eceb33.07dfe8"]]},{"id":"eb58e73a.9d1fa8","type":"function","z":"13fdf3de.b407ec","name":"Company Turnover Predictor","func":"var input=msg.payload.input\nvar State\n\nif (input==\"New York\")\n{\n    State=[0,1]\n}\nelse if(input==\"California\")\n{\n  State=[0,0]  \n}\nelse if (input==\"Florida\")\n{\n  State=[1,0]  \n}\n\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":539.0000076293945,"wires":[["f5eceb33.07dfe8"]]},{"id":"88f1f96b.7389b8","type":"function","z":"13fdf3de.b407ec","name":"Company Turnover Predictor","func":"var input=msg.payload.input\nvar State\n\nif (input==\"New York\")\n{\n    State=[0,1]\n}\nelse if(input==\"California\")\n{\n  State=[0,0]  \n}\nelse if (input==\"Florida\")\n{\n  State=[1,0]  \n}\n\n\nglobal.set(\"State1\",msg.payload.State[0])\nglobal.set(\"State2\",msg.payload.State[1])\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":706.4000244140625,"wires":[["b9b65409.ee6088"]]},{"id":"3593f8ad.401a18","type":"ui_dropdown","z":"13fdf3de.b407ec","name":"","label":"","tooltip":"","place":"Select option","group":"c17d7ed4.b8193","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"New York","value":"New York","type":"str"},{"label":"California","value":"California","type":"str"},{"label":"Florida","value":"Florida","type":"str"}],"payload":"","topic":"","x":195.0999984741211,"y":695.4000234603882,"wires":[["88f1f96b.7389b8"]]},{"id":"b9b65409.ee6088","type":"debug","z":"13fdf3de.b407ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660.5,"y":704.4000244140625,"wires":[]},{"id":"94519a31.548fb8","type":"ui_gauge","z":"13fdf3de.b407ec","name":"","group":"c17d7ed4.b8193","order":4,"width":0,"height":0,"gtype":"gage","title":"Profit Meter","label":"units","format":"","min":0,"max":"500000","colors":["#ff0000","#e6e600","#00db37"],"seg1":"","seg2":"","x":935.1000137329102,"y":449.0000057220459,"wires":[]},{"id":"e34a6b9d.781c78","type":"ui_chart","z":"13fdf3de.b407ec","name":"","group":"c17d7ed4.b8193","order":4,"width":0,"height":0,"label":"Profit Variations","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":962.0999755859375,"y":334,"wires":[[]]},{"id":"3fa94292.2567ce","type":"ui_template","z":"13fdf3de.b407ec","group":"c17d7ed4.b8193","name":"","order":1,"width":0,"height":0,"format":"<html>\n<head>\n<style>\n\n    body {\n        background-image: url(\"https://ak1.picdn.net/shutterstock/videos/4518221/thumb/1.jpg\");\n        background-repeat: no-repeat;\n        background-size: cover;\n        height:50%;\n    }\n</style>\n</head> \n<body>\n  \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":358.51953125,"y":82.5625,"wires":[[]]},{"id":"c17d7ed4.b8193","type":"ui_group","z":"13fdf3de.b407ec","name":"Prediction","tab":"35eb5ebb.46a122","disp":true,"width":"6","collapse":false},{"id":"35eb5ebb.46a122","type":"ui_tab","z":"","name":"Stateconversion","icon":"dashboard","disabled":false,"hidden":false}]