The Invincibles/flows (1).json
[{"id":"f88b8c83.d6a1b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"48a902ce.7fa18c","type":"inject","z":"f88b8c83.d6a1b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":30,"wires":[["3cb08839.c4bf08"]]},{"id":"68992d3b.01fb54","type":"debug","z":"f88b8c83.d6a1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.0001220703125,"y":20,"wires":[]},{"id":"3cb08839.c4bf08","type":"http request","z":"f88b8c83.d6a1b","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":320,"y":63,"wires":[["68992d3b.01fb54","c199401c.1a8cc"]]},{"id":"58fe37d2.9186b8","type":"http request","z":"f88b8c83.d6a1b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/94e57564-4e09-4b00-9642-9f561164c59c/deployments/43b04ade-b323-425c-b376-0d0edcef4b06/online","tls":"","proxy":"","authType":"basic","x":525.0001220703125,"y":94,"wires":[["68992d3b.01fb54","698cc37c.28e98c"]]},{"id":"698cc37c.28e98c","type":"function","z":"f88b8c83.d6a1b","name":"json Parsing","func":"msg.payload=msg.payload.values[0][1][0];\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":313,"wires":[["2f6c198d.2c2966"]]},{"id":"e5e39a17.ab5ec8","type":"ui_form","z":"f88b8c83.d6a1b","name":"","label":"","group":"93482ffb.1a268","order":2,"width":0,"height":0,"options":[{"label":"enter pregnencies","value":"preg","type":"number","required":true},{"label":"Enter Glucose","value":"glucose","type":"number","required":true},{"label":"Enter blood ppresure","value":"bp","type":"number","required":true},{"label":"enter skin thickness","value":"st","type":"number","required":true},{"label":"insulin","value":"insulin","type":"number","required":true},{"label":"bmi","value":"bmi","type":"number","required":true},{"label":"DiabetesPedigreeFunction","value":"diabetes","type":"number","required":true},{"label":"Age","value":"age","type":"number","required":true}],"formValue":{"preg":"","glucose":"","bp":"","st":"","insulin":"","bmi":"","diabetes":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":84.10000610351562,"y":96,"wires":[["fa901ddc.87715"]]},{"id":"fa901ddc.87715","type":"function","z":"f88b8c83.d6a1b","name":"Input","func":"global.set(\"preg\",msg.payload.preg);\nglobal.set(\"glucose\",msg.payload.glucose);\nglobal.set(\"bp\",msg.payload.bp);\nglobal.set(\"st\",msg.payload.st);\nglobal.set(\"insulin\",msg.payload.insulin);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"diabetes\",msg.payload.diabetes);\nglobal.set(\"age\",msg.payload.age);\nreturn msg;","outputs":1,"noerr":0,"x":211.10000610351562,"y":171,"wires":[["3cb08839.c4bf08"]]},{"id":"2f6c198d.2c2966","type":"ui_text","z":"f88b8c83.d6a1b","group":"93482ffb.1a268","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":752.1000366210938,"y":149,"wires":[]},{"id":"c199401c.1a8cc","type":"function","z":"f88b8c83.d6a1b","name":"prediction input","func":"var token=msg.payload.token;\nvar preg=global.get(\"preg\");\nvar glucose=global.get(\"glucose\");\nvar bp=global.get(\"bp\");\nvar st=global.get(\"st\");\nvar insulin=global.get(\"insulin\");\nvar bmi=global.get(\"bmi\");\nvar diabetes=global.get(\"diabetes\");\nvar age=global.get(\"age\");\nmsg.payload={\"fields\":[\"preg\",\"glucose\",\"bp\",\"st\",\"insulin\",\"bmi\",\"diabetes\",\"age\"],\"values\":[[preg,glucose,bp,st,insulin,bmi,diabetes,age]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":176,"wires":[["58fe37d2.9186b8"]]},{"id":"93482ffb.1a268","type":"ui_group","z":"","name":"ANN","tab":"bd051f71.f31d7","disp":true,"width":"6","collapse":false},{"id":"bd051f71.f31d7","type":"ui_tab","z":"","name":"Predction","icon":"dashboard","disabled":false,"hidden":false}]