TEAM-6/Node-RED Flow.txt
[{"id":"f60e315b.c8309","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"418800a5.20ece","type":"inject","z":"f60e315b.c8309","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":532,"y":48,"wires":[["2f6519bc.16e396"]]},{"id":"b34e4409.dd0df8","type":"debug","z":"f60e315b.c8309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1226.0001068115234,"y":45.00000190734863,"wires":[]},{"id":"2f6519bc.16e396","type":"http request","z":"f60e315b.c8309","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":774.9999542236328,"y":55.00000190734863,"wires":[["b34e4409.dd0df8","7f3d91c6.adc74"]]},{"id":"7f3d91c6.adc74","type":"function","z":"f60e315b.c8309","name":"prediction input","func":"var token = msg.payload.token;\nvar gen = global.get(\"gender\");\nvar age = global.get(\"age\");\nvar admission_type_id = global.get(\"admission_type_id\");\nvar discharge_disposition_id = global.get(\"discharge_disposition_id\");\nvar admission_source_id = global.get(\"admission_source_id\");\nvar time_in_hospital = global.get(\"time_in_hospital\");\nvar num_lab_procedures = global.get(\"num_lab_procedures\");\nvar num_procedures = global.get(\"num_procedures\");\nvar num_medications = global.get(\"num_medications\");\nvar number_outpatient = global.get(\"number_outpatient\");\nvar number_emergency = global.get(\"number_emergency\");\nvar number_inpatient = global.get(\"number_inpatient\");\nvar number_diagnoses = global.get(\"number_diagnoses\");\nvar max_glu_serum = global.get(\"max_glu_serum\");\nvar A1Cresult = global.get(\"A1Cresult\");\nvar metformin = global.get(\"metformin\");\nvar repaglinide = global.get(\"repaglinide\");\nvar nateglinide = global.get(\"nateglinide\");\nvar chlorpropamide = global.get(\"chlorpropamide\");\nvar glimepiride = global.get(\"glimepiride\");\nvar acetohexamide = global.get(\"acetohexamide\");\nvar glipizide = global.get(\"glipizide\");\nvar glyburide = global.get(\"glyburide\");\nvar tolbutamide = global.get(\"tolbutamide\");\nvar pioglitazone = global.get(\"pioglitazone\");\nvar rosiglitazone = global.get(\"rosiglitazone\");\nvar acarbose = global.get(\"acarbose\");\nvar miglitol = global.get(\"miglitol\");\nvar troglitazone = global.get(\"troglitazone\");\nvar tolazamide = global.get(\"tolazamide\");\nvar insulin = global.get(\"insulin\");\nvar glyburide_metformin = global.get(\"glyburide-metformin\");\nvar glipizide_metformin = global.get(\"glipizide-metformin\");\nvar glimepiride_pioglitazone = global.get(\"glimepiride-pioglitazone\");\nvar metformin_rosiglitazone = global.get(\"metformin-rosiglitazone\");\nvar metformin_pioglitazone = global.get(\"metformin-pioglitazone\");\nvar change = global.get(\"change\");\nvar diabetesMed = global.get(\"diabetesMed\");\n\nmsg.payload={\"fields\":[\"gender\",\"age\",\"admission_type_id\",\"discharge_disposition_id\",\"admission_source_id\",\"time_in_hospital\",\"num_lab_procedures\",\"num_procedures\",\"num_medications\",\"number_outpatient\",\"number_emergency\",\"number_inpatient\",\"number_diagnoses\",\"max_glu_serum\",\"A1Cresult\",\"metformin\",\"repaglinide\",\"nateglinide\",\"chlorpropamide\",\"glimepiride\",\"acetohexamide\",\"glipizide\",\"glyburide\",\"tolbutamide\",\"pioglitazone\",\"rosiglitazone\",\"acarbose\",\"miglitol\",\"troglitazone\",\"tolazamide\",\"insulin\",\"glyburide-metformin\",\"glipizide-metformin\",\"glimepiride-pioglitazone\",\"metformin-rosiglitazone\",\"metformin-pioglitazone\",\"change\",\"diabetesMed\"],\"values\":[[gen,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":818.9999542236328,"y":127.00000190734863,"wires":[["ac28e7f9.346678"]]},{"id":"ac28e7f9.346678","type":"http request","z":"f60e315b.c8309","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2896c0d0-21bf-432b-a4e3-78e2875b734b/deployments/570eb1c6-cc7e-4bb8-863b-749fb69d03b1/online","tls":"","proxy":"","authType":"basic","x":1028.0001258850098,"y":124.00000190734863,"wires":[["b34e4409.dd0df8","646f216f.900ec","d459deb5.e0c4c"]]},{"id":"646f216f.900ec","type":"function","z":"f60e315b.c8309","name":"json Parsing","func":"var out1 = msg.payload.values[0][0][0];\nvar out2 = msg.payload.values[0][0][1];\nvar out3 = msg.payload.values[0][0][2];\n\nif(out1>out2 && out1>out3)\n{\n    msg.payload = \"You may need to come for checkup within 30 days\"\n}\nelse if(out2>out1 && out2>out3)\n{\n    msg.payload = \"You need not come for checkup until 30 days\"\n}\nelse \n{\n    msg.payload = \"No need for any checkup, you're alright\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1196.0000076293945,"y":196.00000429153442,"wires":[["fa4a57f0.2a2c88"]]},{"id":"53c96f0f.9c985","type":"function","z":"f60e315b.c8309","name":"Input","func":"var gen = msg.payload.gender;\nif(gen == \"Female\")\n{\n    global.set(\"gender\",0);\n}\nelse if(gen == \"Male\")\n{\n    global.set(\"gender\",1);\n}\nelse\n{\n    global.set(\"gender\",2);\n}\nglobal.set(\"age\",msg.payload.age);\nglobal.set(\"admission_type_id\",msg.payload.admission_type_id);\nglobal.set(\"discharge_disposition_id\",msg.payload.discharge_disposition_id);\nglobal.set(\"admission_source_id\",msg.payload.admission_source_id);\nglobal.set(\"time_in_hospital\",msg.payload.time_in_hospital);\nglobal.set(\"num_lab_procedures\",msg.payload.num_lab_procedures);\nglobal.set(\"num_procedures\",msg.payload.num_procedures);\nglobal.set(\"num_medications\",msg.payload.num_medications);\nglobal.set(\"number_outpatient\",msg.payload.number_outpatient);\nglobal.set(\"number_emergency\",msg.payload.number_emergency);\nglobal.set(\"number_inpatient\",msg.payload.number_inpatient);\nglobal.set(\"number_diagnoses\",msg.payload.number_diagnoses);\nvar max_glu_serum = msg.payload.max_glu_serum;\nif(max_glu_serum == \">200\")\n{\n    global.set(\"max_glu_serum\",0);\n}\nelse if(max_glu_serum == \">300\")\n{\n    global.set(\"max_glu_serum\",1);\n}\nelse if(max_glu_serum == \">None\")\n{\n    global.set(\"max_glu_serum\",2);\n}\nelse \n{\n    global.set(\"max_glu_serum\",3);\n}\nvar A1Cresult = msg.payload.A1Cresult;\nif(A1Cresult == \">7\")\n{\n    global.set(\"A1Cresult\",0);\n}\nelse if(A1Cresult == \">8\")\n{\n    global.set(\"A1Cresult\",1);\n}\nelse if(A1Cresult == \"None\")\n{\n    global.set(\"A1Cresult\",2);\n}\nelse \n{\n    global.set(\"A1Cresult\",3);\n}\nvar metformin = msg.payload.metformin;\nif(metformin == \"Down\")\n{\n    global.set(\"metformin\",0);\n}\nelse if(metformin == \"No\")\n{\n    global.set(\"metformin\",1);\n}\nelse if(metformin == \"Steady\")\n{\n    global.set(\"metformin\",2);\n}\nelse \n{\n    global.set(\"metformin\",3);\n}\nvar repaglinide = msg.payload.repaglinide;\nif(repaglinide == \"Down\")\n{\n    global.set(\"repaglinide\",0);\n}\nelse if(repaglinide == \"No\")\n{\n    global.set(\"repaglinide\",1);\n}\nelse if(repaglinide == \"Steady\")\n{\n    global.set(\"repaglinide\",2);\n}\nelse \n{\n    global.set(\"repaglinide\",3);\n}\nvar nateglinide = msg.payload.nateglinide;\nif(nateglinide == \"Down\")\n{\n    global.set(\"nateglinide\",0);\n}\nelse if(nateglinide == \"No\")\n{\n    global.set(\"nateglinide\",1);\n}\nelse if(nateglinide == \"Steady\")\n{\n    global.set(\"nateglinide\",2);\n}\nelse \n{\n    global.set(\"nateglinide\",3);\n}\nvar chlorpropamide = msg.payload.chlorpropamide;\nif(chlorpropamide == \">7\")\n{\n    global.set(\"chlorpropamide\",0);\n}\nelse if(chlorpropamide == \">8\")\n{\n    global.set(\"chlorpropamide\",1);\n}\nelse if(chlorpropamide == \"None\")\n{\n    global.set(\"chlorpropamide\",2);\n}\nelse \n{\n    global.set(\"chlorpropamide\",3);\n}\nvar glimepiride = msg.payload.glimepiride;\nif(glimepiride == \"Down\")\n{\n    global.set(\"glimepiride\",0);\n}\nelse if(glimepiride == \"No\")\n{\n    global.set(\"glimepiride\",1);\n}\nelse if(glimepiride == \"Steady\")\n{\n    global.set(\"glimepiride\",2);\n}\nelse \n{\n    global.set(\"glimepiride\",3);\n}\nvar acetohexamide = msg.payload.acetohexamide;\nif(acetohexamide == \"No\")\n{\n    global.set(\"acetohexamide\",0);\n}\nelse \n{\n    global.set(\"acetohexamide\",1);\n}\n\nvar glipizide = msg.payload.glipizide;\nif(glipizide == \"Down\")\n{\n    global.set(\"glipizide\",0);\n}\nelse if(glipizide == \"No\")\n{\n    global.set(\"glipizide\",1);\n}\nelse if(glipizide == \"Steady\")\n{\n    global.set(\"glipizide\",2);\n}\nelse \n{\n    global.set(\"glipizide\",3);\n}\nvar glyburide = msg.payload.glyburide;\nif(glyburide == \"Down\")\n{\n    global.set(\"glyburide\",0);\n}\nelse if(glyburide == \"No\")\n{\n    global.set(\"glyburide\",1);\n}\nelse if(glyburide == \"Steady\")\n{\n    global.set(\"glyburide\",2);\n}\nelse \n{\n    global.set(\"glyburide\",3);\n}\nvar tolbutamide = msg.payload.tolbutamide;\nif(tolbutamide == \"No\")\n{\n    global.set(\"tolbutamide\",0);\n}\nelse \n{\n    global.set(\"tolbutamide\",1);\n}\n\nvar pioglitazone = msg.payload.pioglitazone;\nif(pioglitazone == \"Down\")\n{\n    global.set(\"pioglitazone\",0);\n}\nelse if(pioglitazone == \"No\")\n{\n    global.set(\"pioglitazone\",1);\n}\nelse if(pioglitazone == \"Steady\")\n{\n    global.set(\"pioglitazone\",2);\n}\nelse \n{\n    global.set(\"pioglitazone\",3);\n}\nvar rosiglitazone = msg.payload.rosiglitazone;\nif(rosiglitazone == \"Down\")\n{\n    global.set(\"rosiglitazone\",0);\n}\nelse if(rosiglitazone == \"No\")\n{\n    global.set(\"rosiglitazone\",1);\n}\nelse if(rosiglitazone == \"Steady\")\n{\n    global.set(\"rosiglitazone\",2);\n}\nelse \n{\n    global.set(\"rosiglitazone\",3);\n}\nvar acarbose = msg.payload.acarbose;\nif(acarbose == \"Down\")\n{\n    global.set(\"acarbose\",0);\n}\nelse if(acarbose == \"No\")\n{\n    global.set(\"acarbose\",1);\n}\nelse if(acarbose == \"Steady\")\n{\n    global.set(\"acarbose\",2);\n}\nelse \n{\n    global.set(\"acarbose\",3);\n}\nvar miglitol = msg.payload.miglitol;\nif(miglitol == \"Down\")\n{\n    global.set(\"miglitol\",0);\n}\nelse if(miglitol == \"No\")\n{\n    global.set(\"miglitol\",1);\n}\nelse if(miglitol == \"Steady\")\n{\n    global.set(\"miglitol\",2);\n}\nelse \n{\n    global.set(\"miglitol\",3);\n}\nvar troglitazone = msg.payload.troglitazone;\nif(troglitazone == \"No\")\n{\n    global.set(\"troglitazone\",0);\n}\nelse \n{\n    global.set(\"troglitazone\",1);\n}\n\nvar tolazamide = msg.payload.tolazamide;\nif(tolazamide == \"No\")\n{\n    global.set(\"tolazamide\",0);\n}\nelse if(tolazamide == \"Steady\")\n{\n    global.set(\"tolazamide\",1);\n}\nelse \n{\n    global.set(\"tolazamide\",2);\n}\n\nvar insulin = msg.payload.insulin;\nif(insulin == \"Down\")\n{\n    global.set(\"insulin\",0);\n}\nelse if(insulin == \"No\")\n{\n    global.set(\"insulin\",1);\n}\nelse if(insulin == \"Steady\")\n{\n    global.set(\"insulin\",2);\n}\nelse \n{\n    global.set(\"insulin\",3);\n}\n\nvar glyburide_metformin = msg.payload['glyburide-metformin'];\nif(glyburide_metformin == \"Down\")\n{\n    global.set(\"glyburide-metformin\",0);\n}\nelse if(glyburide_metformin == \"No\")\n{\n    global.set(\"glyburide-metformin\",1);\n}\nelse if(glyburide_metformin == \"Steady\")\n{\n    global.set(\"glyburide-metformin\",2);\n}\nelse \n{\n    global.set(\"glyburide-metformin\",3);\n}\nvar glipizide_metformin = msg.payload['glipizide-metformin'];\nif(glipizide_metformin == \"No\")\n{\n    global.set(\"glipizide-metformin\",0);\n}\nelse \n{\n    global.set(\"glipizide-metformin\",1);\n}\nvar glimepiride_pioglitazone = msg.payload['glimepiride-pioglitazone'];\nif(glimepiride_pioglitazone == \"No\")\n{\n    global.set(\"glimepiride-pioglitazone\",0);\n}\nelse \n{\n    global.set(\"glimepiride-pioglitazone\",1);\n}\nvar metformin_rosiglitazone = msg.payload['metformin-rosiglitazone'];\nif(metformin_rosiglitazone == \"No\")\n{\n    global.set(\"metformin-rosiglitazone\",0);\n}\nelse \n{\n    global.set(\"metformin-rosiglitazone\",1);\n}\nvar metformin_pioglitazone = msg.payload['metformin-pioglitazone'];\nif(metformin_pioglitazone == \"No\")\n{\n    global.set(\"metformin-pioglitazone\",0);\n}\nelse \n{\n    global.set(\"metformin-pioglitazone\",1);\n}\nvar change = msg.payload.change;\nif(change == \"Ch\")\n{\n    global.set(\"change\",0);\n}\nelse \n{\n    global.set(\"change\",1);\n}\nvar diabetesMed = msg.payload.diabetesMed;\nif(change == \"No\")\n{\n    global.set(\"diabetesMed\",0);\n}\nelse \n{\n    global.set(\"diabetesMed\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":396.0999755859375,"y":112.00003051757812,"wires":[["3f7c0b10.78cc74","210fa794.4a1bf8","2f6519bc.16e396"]]},{"id":"fa4a57f0.2a2c88","type":"ui_text","z":"f60e315b.c8309","group":"2a93c688.a9abaa","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1216.100009918213,"y":276.0000057220459,"wires":[]},{"id":"eea7ccca.9eaab","type":"ui_form","z":"f60e315b.c8309","name":"","label":"","group":"f33f8164.2079b","order":1,"width":0,"height":0,"options":[{"label":"Enter Patient ID","value":"pid","type":"text","required":true}],"formValue":{"pid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":66.10000228881836,"y":174.00000381469727,"wires":[["883b00cb.de327"]]},{"id":"883b00cb.de327","type":"function","z":"f60e315b.c8309","name":"form parsing ","func":"msg.payload = msg.payload.pid;\nreturn msg;","outputs":1,"noerr":0,"x":129.5,"y":352.00000381469727,"wires":[["cb001c22.5cfde"]]},{"id":"cb001c22.5cfde","type":"cloudant in","z":"f60e315b.c8309","name":"","cloudant":"","database":"readmission","service":"Readmission Predictor-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":220.5,"y":286,"wires":[["53c96f0f.9c985"]]},{"id":"d459deb5.e0c4c","type":"debug","z":"f60e315b.c8309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1227.0000076293945,"y":117.0000057220459,"wires":[]},{"id":"3f7954a9.5c326c","type":"ui_template","z":"f60e315b.c8309","group":"","name":"","order":2,"width":0,"height":0,"format":"<html>\n<head>\n<style>\n\n    body {\n        background-image: url(\"https://www.iresearchservices.com/wp-content/uploads/2018/09/Hospitals-and-smart-technology-1.jpg\");\n        background-repeat: no-repeat;\n        background-size: cover;\n        height:50%;\n    }\n</style>\n</head> \n<body>\n  \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":85.5,"y":421.00000762939453,"wires":[[]]},{"id":"a3c506b7.8210e8","type":"ui_form","z":"f60e315b.c8309","name":"","label":"","group":"31885740.646118","order":2,"width":0,"height":0,"options":[{"label":"Enter Gender ( 0:Female, 1:Male)","value":"gender","type":"number","required":true},{"label":"Enter Age","value":"age","type":"number","required":true},{"label":"Enter admission_type_id ","value":"admission_type_id","type":"number","required":true},{"label":"Enter discharge_disposition_id","value":"discharge_disposition_id","type":"number","required":true},{"label":"Enter admission_source_id","value":"admission_source_id","type":"number","required":true},{"label":"Enter time_in_hospital","value":"time_in_hospital","type":"number","required":true},{"label":"Enter num_lab_procedures","value":"num_lab_procedures","type":"number","required":true},{"label":"Enter num_procedures","value":"num_procedures","type":"number","required":true},{"label":"Enter num_medications","value":"num_medications","type":"number","required":true},{"label":"Enter number_outpatient","value":"number_outpatient","type":"number","required":true},{"label":"Enter number_emergency","value":"number_emergency","type":"number","required":true},{"label":"Enter number_inpatient","value":"number_inpatient","type":"number","required":true},{"label":"Enter number_diagnoses","value":"number_diagnoses","type":"number","required":true},{"label":"Enter max_glu_serum (0: >200 , 1:>300 ,2:None ,3: Norm)","value":"max_glu_serum","type":"number","required":true},{"label":"Enter A1Cresult (0:>7 , 1:>8 ,2:None , 3:Norm)","value":"A1Cresult","type":"number","required":true},{"label":"Enter metformin (0:Down , 1:No ,2:Steady , 3:Up)","value":"metformin","type":"number","required":true},{"label":"Enter repaglinide (0:Down , 1:No ,2:Steady , 3:Up)","value":"repaglinide","type":"number","required":true},{"label":"Enter nateglinide (0:Down , 1:No ,2:Steady ,3:Up)","value":"nateglinide","type":"number","required":true},{"label":"Enter chlorpropamide  (0:>7, 1:>8, 2:None, 3:Norm)","value":"chlorpropamide","type":"number","required":true},{"label":"Enter glimepiride (0:Down , 1:No ,2:Steady ,3:Up)","value":"glimepiride","type":"number","required":true},{"label":"Enter acetohexamide  (0:No, 1:Steady)","value":"acetohexamide","type":"number","required":true},{"label":"Enter glipizide  (0:Down , 1:No ,2:Steady , 3:Up)","value":"glipizide","type":"number","required":true},{"label":"Enter glyburide (0:Down , 1:No ,2:Steady ,3:Up))","value":"glyburide","type":"number","required":true},{"label":"Enter tolbutamide (0:No , 1:Steady))","value":"tolbutamide","type":"number","required":true},{"label":"Enter pioglitazone  (0:Down , 1:No ,2:Steady , 3:Up)","value":"pioglitazone","type":"number","required":true},{"label":"Enter rosiglitazone  (0:Down , 1:No ,2:Steady , 3:Up)","value":"rosiglitazone","type":"number","required":true},{"label":"Enter acarbose  (0:Down , 1:No ,2:Steady , 3:Up)","value":"acarbose","type":"number","required":true},{"label":"Enter miglitol (0:Down , 1:No , 2:Steady , 3:Up)","value":"miglitol","type":"number","required":true},{"label":"Enter troglitazone (0:No ,1:Steady)","value":"troglitazone","type":"number","required":true},{"label":"Enter tolazamide (0:No , 1:Steady , 2:Up)","value":"tolazamide","type":"number","required":true},{"label":"Enter insulin   (0:Down , 1:No ,2:Steady , 3:Up)","value":"insulin","type":"number","required":true},{"label":"Enter glyburide-metformin  (0:Down , 1:No ,2:Steady , 3:Up)","value":"glyburide-metformin","type":"number","required":true},{"label":"Enter glipizide-metformin (0:No, 1:Steady)","value":"glipizide-metformin","type":"number","required":true},{"label":"Enter glimepiride-pioglitazone (0:No, 1:Steady)","value":"glimepiride-pioglitazone","type":"number","required":true},{"label":"Enter metformin-rosiglitazone (0:No, 1:Steady)","value":"metformin-rosiglitazone","type":"number","required":true},{"label":"Enter metformin-pioglitazone (0:No, 1:Steady)","value":"metformin-pioglitazone","type":"number","required":true},{"label":"Enter change (0:Ch , 1:No)","value":"change","type":"number","required":true},{"label":"Enter diabetesMed (0:No , 1:Yes)","value":"diabetesMed","type":"number","required":true},{"label":"Enter Paient id","value":"_id","type":"text","required":true}],"formValue":{"gender":"","age":"","admission_type_id":"","discharge_disposition_id":"","admission_source_id":"","time_in_hospital":"","num_lab_procedures":"","num_procedures":"","num_medications":"","number_outpatient":"","number_emergency":"","number_inpatient":"","number_diagnoses":"","max_glu_serum":"","A1Cresult":"","metformin":"","repaglinide":"","nateglinide":"","chlorpropamide":"","glimepiride":"","acetohexamide":"","glipizide":"","glyburide":"","tolbutamide":"","pioglitazone":"","rosiglitazone":"","acarbose":"","miglitol":"","troglitazone":"","tolazamide":"","insulin":"","glyburide-metformin":"","glipizide-metformin":"","glimepiride-pioglitazone":"","metformin-rosiglitazone":"","metformin-pioglitazone":"","change":"","diabetesMed":"","_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":278.00000381469727,"y":513.0000085830688,"wires":[["e6f3d102.9920e","61faaa4a.36c404"]]},{"id":"e6f3d102.9920e","type":"cloudant out","z":"f60e315b.c8309","name":"","cloudant":"","database":"readmission","service":"Readmission Predictor-cloudantNoSQLDB","payonly":true,"operation":"insert","x":686.5000076293945,"y":406.00000762939453,"wires":[]},{"id":"61faaa4a.36c404","type":"debug","z":"f60e315b.c8309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":631.1000556945801,"y":535.0000095367432,"wires":[]},{"id":"405ef298.c1239c","type":"function","z":"f60e315b.c8309","name":"","func":"msg.payload = \"Enter a valid input\"\nreturn msg;","outputs":1,"noerr":0,"x":1017.5,"y":282,"wires":[["fa4a57f0.2a2c88"]]},{"id":"3f7c0b10.78cc74","type":"switch","z":"f60e315b.c8309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":635.5,"y":233,"wires":[["405ef298.c1239c"],["2f6519bc.16e396"]]},{"id":"210fa794.4a1bf8","type":"debug","z":"f60e315b.c8309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":613,"y":354,"wires":[]},{"id":"2a93c688.a9abaa","type":"ui_group","z":"","name":"Prediction","tab":"31569988.1a2296","order":2,"disp":true,"width":"6","collapse":false},{"id":"f33f8164.2079b","type":"ui_group","z":"","name":"Model Inputs","tab":"31569988.1a2296","order":1,"disp":true,"width":"6","collapse":false},{"id":"31885740.646118","type":"ui_group","z":"","name":"Insertion","tab":"929e5f42.80d9a","disp":true,"width":"6","collapse":false},{"id":"31569988.1a2296","type":"ui_tab","z":"","name":"Predicting the readmisssion to hospital for diabetic patients","icon":"dashboard","disabled":false,"hidden":false},{"id":"929e5f42.80d9a","type":"ui_tab","z":"","name":"Insert Records","icon":"dashboard","disabled":false,"hidden":false}]