the developers/nodered.txt
[{"id":"1d21a102.e73caf","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7024730c.c4ec9c","type":"inject","z":"1d21a102.e73caf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":465.0000114440918,"y":133.00000381469727,"wires":[["542b9062.939f6"]]},{"id":"14fc347e.f55f2c","type":"debug","z":"1d21a102.e73caf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130.0000686645508,"y":187.00000286102295,"wires":[]},{"id":"542b9062.939f6","type":"http request","z":"1d21a102.e73caf","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":709.9999885559082,"y":183.00000476837158,"wires":[["14fc347e.f55f2c","366966ee.475baa"]]},{"id":"366966ee.475baa","type":"function","z":"1d21a102.e73caf","name":"prediction input","func":"var token=msg.payload.token;\nvar radius_mean=global.get(\"radius_mean\");\nvar texture_mean=global.get(\"texture_mean\");\nvar perimeter_mean=global.get(\"perimeter_mean\");\nvar area_mean=global.get(\"area_mean\");\nvar smoothness_mean=global.get(\"smoothness_mean\");\nvar compactness_mean=global.get(\"compactness_mean\");\nvar concavity_mean=global.get(\"concavity_mean\");\nvar concave_points_mean =global.get(\"concave_points_mean\");\nvar symmetry_mean=global.get(\"symmetry_mean\");\nvar fractal_dimension_mean=global.get(\"fractal_dimension_mean\");\nvar radius_se=global.get(\"radius_se\");\nvar texture_se=global.get(\"texture_se\");\nvar perimeter_se=global.get(\"perimeter_se\");\nvar area_se=global.get(\"area_se\");\nvar smoothness_se=global.get(\"smoothness_se\");\nvar compactness_se=global.get(\"compactness_se\");\nvar concavity_se=global.get(\"concavity_se\");\nvar concave_points_se=global.get(\"concave_points_se\");\nvar symmetry_se=global.get(\"symmetry_se\");\nvar fractal_dimension_se=global.get(\"fractal_dimension_se\");\nvar radius_worst=global.get(\"radius_worst\");\nvar texture_worst=global.get(\"texture_worst\");\nvar perimeter_worst=global.get(\"perimeter_worst\");\nvar area_worst=global.get(\"area_worst\");\nvar smoothness_worst=global.get(\"smoothness_worst\");\nvar compactness_worst=global.get(\"compactness_worst\");\nvar concavity_worst=global.get(\"concavity_worst\");\nvar concave_points_worst=global.get(\"concave_points_worst\");\nvar symmetry_worst=global.get(\"symmetry_worst\");\nvar fractal_dimension_worst=global.get(\"fractal_dimension_worst\");\nmsg.payload={\"fields\":[\"radius_mean\",\"texture_mean\",\"perimeter_mean\",\"area_mean\",\"smoothness_mean\",\"compactness_mean\",\"concavity_mean\",\"concave_points_mean\",\"symmetry_mean\",\"fractal_dimension_mean\",\"radius_se\",\"texture_se\",\"perimeter_se\",\"area_se\",\"smoothness_se\",\"compactness_se\",\"concavity_se\",\"concave_points_se\",\"symmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"texture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concave_points_worst\",\"symmetry_worst\",\"fractal_dimension_worst\"],\"values\":[[radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,fractal_dimension_mean,radius_se,texture_se,perimeter_se,area_se,smoothness_se,compactness_se,concavity_se,concave_points_se,symmetry_se,fractal_dimension_se,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave_points_worst,symmetry_worst,fractal_dimension_worst]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;","outputs":1,"noerr":0,"x":746.9999885559082,"y":356.0000057220459,"wires":[["2b96c494.7c6f9c"]]},{"id":"2b96c494.7c6f9c","type":"http request","z":"1d21a102.e73caf","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/723b47aa-1cfc-4096-9aa4-f4164edabfef/deployments/dcbb9cf5-9348-4cad-b158-51dc4200d43d/online","tls":"","proxy":"","authType":"basic","x":894.0001106262207,"y":266.0000057220459,"wires":[["14fc347e.f55f2c","b239775f.db7e28"]]},{"id":"b239775f.db7e28","type":"function","z":"1d21a102.e73caf","name":"json Parsing","func":"msg.payload=msg.payload.values[0][1][0];\nreturn msg;","outputs":1,"noerr":0,"x":1054.000015258789,"y":350.0000057220459,"wires":[["e00ac638.a401a8"]]},{"id":"192b748c.4aa71b","type":"ui_form","z":"1d21a102.e73caf","name":"","label":"","group":"ade3ffac.fdd8a","order":2,"width":0,"height":0,"options":[{"label":"enter the project id","value":"id","type":"text","required":true}],"formValue":{"id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":260,"wires":[["7ea074db.fc1e3c"]]},{"id":"f6974446.307148","type":"function","z":"1d21a102.e73caf","name":"Input","func":"global.set(\"radius_mean\",msg.payload.radius_mean);\nglobal.set(\"texture_mean\",msg.payload.texture_mean);\nglobal.set(\"perimeter_mean\",msg.payload.perimeter_mean);\nglobal.set(\"area_mean\",msg.payload.area_mean);\nglobal.set(\"smoothness_mean\",msg.payload.smoothness_mean);\nglobal.set(\"compactness_mean\",msg.payload.compactness_mean);\nglobal.set(\"concavity_mean\",msg.payload.concavity_mean);\nglobal.set(\"concave_points_mean\",msg.payload.concave_points_mean);\nglobal.set(\"symmetry_mean\",msg.payload.symmetry_mean);\nglobal.set(\"fractal_dimension_mean\",msg.payload.fractal_dimension_mean);\nglobal.set(\"radius_se\",msg.payload.radius_se);\nglobal.set(\"texture_se\",msg.payload.texture_se);\nglobal.set(\"perimeter_se\",msg.payload.perimeter_se);\nglobal.set(\"area_se\",msg.payload.area_se);\nglobal.set(\"smoothness_se\",msg.payload.smoothness_se);\nglobal.set(\"compactness_se\",msg.payload.compactness_se);\nglobal.set(\"concavity_se\",msg.payload.concavity_se);\nglobal.set(\"concave_points_se\",msg.payload.concave_points_se);\nglobal.set(\"symmetry_se\",msg.payload.symmetry_se);\nglobal.set(\"fractal_dimension_se\",msg.payload.fractal_dimension_se);\nglobal.set(\"radius_worst\",msg.payload.radius_worst);\nglobal.set(\"texture_worst\",msg.payload.texture_worst);\nglobal.set(\"perimeter_worst\",msg.payload.perimeter_worst);\nglobal.set(\"area_worst\",msg.payload.area_worst);\nglobal.set(\"smoothness_worst\",msg.payload.smoothness_worst);\nglobal.set(\"compactness_worst\",msg.payload.compactness_worst);\nglobal.set(\"concavity_worst\",msg.payload.concavity_worst);\nglobal.set(\"concave_points_worst\",msg.payload.concave_points_worst);\nglobal.set(\"symmetry_worst\",msg.payload.symmetry_worst);\nglobal.set(\"fractal_dimension_worst\",msg.payload.fractal_dimension_worst);\nreturn msg;","outputs":1,"noerr":0,"x":469.1000061035156,"y":369.0000057220459,"wires":[["542b9062.939f6"]]},{"id":"e00ac638.a401a8","type":"ui_text","z":"1d21a102.e73caf","group":"ade3ffac.fdd8a","order":2,"width":0,"height":0,"name":"","label":"output prediction","format":"{{msg.payload}}","layout":"col-center","x":1095.1000175476074,"y":470.9999990463257,"wires":[]},{"id":"43b2f62f.ad44a8","type":"cloudant in","z":"1d21a102.e73caf","name":"","cloudant":"","database":"project1","service":"becapp-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":340,"y":540,"wires":[["f6974446.307148","d016d805.dd4168"]]},{"id":"d016d805.dd4168","type":"debug","z":"1d21a102.e73caf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":560,"wires":[]},{"id":"7ea074db.fc1e3c","type":"function","z":"1d21a102.e73caf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["43b2f62f.ad44a8"]]},{"id":"ade3ffac.fdd8a","type":"ui_group","z":"","name":"Model Prediction","tab":"5bdd7f21.f6d2c","disp":true,"width":"6","collapse":false},{"id":"5bdd7f21.f6d2c","type":"ui_tab","z":"","name":"Predction","icon":"dashboard","disabled":false,"hidden":false}]